* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    width: 1440px;
    height: 900px;
    display: flex;
}

.left {
    width: 400px;
    height: 900px;
    background-color: #2F80ED;
    display: inline-block;
    margin-top: 0px;
}

.logo {
    height: 20.551664352416992px;
    width: 31.666669845581055px;
    display: inline-block;
    position: absolute;
    left: 47.17px;
    top: 72.72px;
}

.mainp {
    position: absolute;
    width: 208px;
    height: 36px;
    left: 98px;
    top: 64px;
    display: inline-block;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.first-button, .second-button {
    height: 60px;
    width: 300px;
    background-color: #333333;
    color: #FFFFFF;
    text-align: center;
}

.first-button {
    position: absolute;
    top: 249px;
    left: 44px;
}

.second-button {
    position: absolute;
    top: 339px;
    left: 44px;
}

.signup {
    position: absolute;
    left: 106px;
    top: 12px;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.login {
    position: absolute;
    left: 112px;
    top: 12px;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.right {
    background-color: #E5E5E5;
    display: inline-block;
    width: 1040px;
    height: 900px;
}